.aboutus-section {
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.aboutus-section .custom-block-body {
    max-width: 440px;
    margin: 0 auto;
}

.aboutus-section .custom-block-body p {
    line-height: 1.7;
}